<div class="col-12 homeHeader non-lateral-padding">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand titulo">MorfiYa</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link titulo" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalLong" #closeBtn>{{ 'ingresar' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link titulo" data-toggle="modal" data-target="#modalRegistro">{{ 'registrar' | translate }}</a>
                </li>
            </ul>
            <div class="lang-bar">
                <a (click)="changeLang('es')">ES</a>
                <a (click)="changeLang('en')">EN</a>
                <a (click)="changeLang('it')">IT</a>
            </div>
        </div>
    </nav>
</div>
<div class="col-12">
    <div class="col-sm-3 col-md-4 mx-auto subtitulo non-lateral-padding">
        <h2>{{ 'tituloPantallaPrincipal' | translate }}</h2>
    </div>
</div>
<div class="col-12 non-lateral-padding">
    <div class="col-11 mx-auto">
        <div class="row non-lateral-padding">
            <div class="col-12 col-sm-12 col-md-3 non-lateral-padding">
                <select class="custom-select componentSearch">
		             <option selected>{{ 'eligeCriterioDeBusqueda' | translate }}</option>
		             <option value="1">{{ 'nombre' | translate }}</option>
		             <option value="2">{{ 'localidad' | translate }}</option>
		             <option value="3">{{ 'precio' | translate }}</option>
		        </select>
            </div>
            <div class="col-12 col-sm-12 col-md-6 non-lateral-padding">
                <input type="text" class="form-control componentSearch" placeholder="" aria-label="">
            </div>
            <div class="col-4 col-sm-2 col-md-2 non-lateral-padding">
                <button type="button" class="btn btn-lg squareButton componentSearch" (click)="search()">{{ 'buscar' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal login-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header homeHeader">
                <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa {{ 'ingresar' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div [hidden]="submitted" class="modal-body">

                <form name="form" (ngSubmit)="f.form.valid && logginUser()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <alert></alert>

                        <label for="username">{{ 'nombreDeUsuario' | translate }}</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.email" #email="ngModel" required />
                        <div *ngIf="f.submitted && !email.valid" class="help-block">{{ 'emailDeUsuarioRequerido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">{{ 'contrasenia' | translate }}</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">{{ 'contraseniaRequerido' | translate }}</div>
                    </div>
                    <div class="form-group">

                        <button [disabled]="loading" class="btn btn-primary">{{ 'ingresar' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Registro cliente-->
<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header homeHeader">
                <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa {{ 'registrar' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div [hidden]="submitted" class="modal-body">
            
            <form name="form" (ngSubmit)="f.form.valid && newUser()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <alert></alert>

                        <label for="name">{{ 'nombre' | translate }}</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                        <div *ngIf="f.submitted && !name.valid" class="help-block">{{ 'nombreDeUsuarioValido' | translate }}</div>
                    </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !surname.valid }">
                        <alert></alert>

                        <label for="surname">{{ 'apellido' | translate }}</label>
                        <input type="text" class="form-control" name="surname" [(ngModel)]="model.surname" #surname="ngModel" required />
                        <div *ngIf="f.submitted && !surname.valid" class="help-block">{{ 'apellidoDeUsuarioValido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <label for="email">{{ 'email' | translate }}</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                        <div *ngIf="f.submitted && !email.valid" class="help-block">{{ 'emailValido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">{{ 'contrasenia' | translate }}</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">{{ 'passwordValido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telephone.valid }">
                        <label for="telephone">{{ 'telefono' | translate }}</label>
                        <input type="telephone" class="form-control" name="telephone" [(ngModel)]="model.telephone" #telephone="ngModel" required />
                        <div *ngIf="f.submitted && !telephone.valid" class="help-block">{{ 'telephoneValido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cuit.valid }">
                        <label for="cuit">{{ 'cuit' | translate }}</label>
                        <input type="cuit" class="form-control" name="cuit" [(ngModel)]="model.cuit" #cuit="ngModel" required />
                        <div *ngIf="f.submitted && !cuit.valid" class="help-block">{{ 'cuitValido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !locality.valid }">
                        <label for="locality">{{ 'localidad' | translate }}</label>
                        <input type="locality" class="form-control" name="locality" [(ngModel)]="model.locality" #locality="ngModel" required />
                        <div *ngIf="f.submitted && !locality.valid" class="help-block">{{ 'localidadValida' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !street.valid }">
                        <label for="street">{{ 'calle' | translate }}</label>
                        <input type="street" class="form-control" name="street" [(ngModel)]="model.street" #street="ngModel" required />
                        <div *ngIf="f.submitted && !street.valid" class="help-block">{{ 'calleValida' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !numberStreet.valid }">
                        <label for="numberStreet">{{ 'numeroDeCalle' | translate }}</label>
                        <input type="numberStreet" class="form-control" name="numberStreet" [(ngModel)]="model.numberStreet" #numberStreet="ngModel" required />
                        <div *ngIf="f.submitted && !numberStreet.valid" class="help-block">{{ 'numeroDeCalleValido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !floor.valid }">
                        <label for="floor">{{ 'piso' | translate }}</label>
                        <input type="floor" class="form-control" name="floor" [(ngModel)]="model.floor" #floor="ngModel" required />
                        <div *ngIf="f.submitted && !floor.valid" class="help-block">{{ 'pisoValido' | translate }}</div>
                    </div>

                    <div class="form-group">

                        <button [disabled]="loading" class="btn btn-primary">{{ 'registrar' | translate }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
