<div class="col-12 homeHeader non-lateral-padding">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand titulo">MorfiYa</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link titulo" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalLong" #closeBtn>{{ 'ingresar' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link titulo" data-toggle="modal" data-target="#modalRegistro">{{ 'registrar' | translate }}</a>
                </li>
            </ul>
            <div class="lang-bar">
                <a (click)="changeLang('es')">ES</a>
                <a (click)="changeLang('en')">EN</a>
                <a (click)="changeLang('it')">IT</a>
            </div>
        </div>
    </nav>
</div>
<div class="col-12">
    <div class="col-sm-3 col-md-4 mx-auto subtitulo non-lateral-padding">
        <h2>{{ 'tituloPantallaPrincipal' | translate }}</h2>
    </div>
</div>
<div class="col-12 non-lateral-padding">
    <div class="col-11 mx-auto">
        <div class="row non-lateral-padding">
            <div class="col-12 col-sm-12 col-md-3 non-lateral-padding">
                <select class="custom-select componentSearch">
		             <option selected>{{ 'eligeCriterioDeBusqueda' | translate }}</option>
		             <option value="1">{{ 'nombre' | translate }}</option>
		             <option value="2">{{ 'localidad' | translate }}</option>
		             <option value="3">{{ 'precio' | translate }}</option>
		        </select>
            </div>
            <div class="col-12 col-sm-12 col-md-6 non-lateral-padding">
                <input type="text" class="form-control componentSearch" placeholder="" aria-label="">
            </div>
            <div class="col-4 col-sm-2 col-md-2 non-lateral-padding">
                <button type="button" class="btn btn-lg squareButton componentSearch" (click)="search()">{{ 'buscar' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal login-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header homeHeader">
                <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa {{ 'ingresar' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div [hidden]="submitted" class="modal-body">

                <form name="form" (ngSubmit)="f.form.valid && logginUser()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <alert></alert>

                        <label for="email">{{ 'email' | translate }}</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.email" #email="ngModel" required />
                        <div *ngIf="f.submitted && !email.valid" class="help-block">{{ 'emailDeUsuarioRequerido' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">{{ 'contrasenia' | translate }}</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">{{ 'contraseniaRequerido' | translate }}</div>
                    </div>
                    <div class="form-group">

                        <button [disabled]="loading" class="btn btn-primary">{{ 'ingresar' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Registro cliente-->

