<div class="col-12 homeHeader">
	<p class="titulo">MorfiYa</p>
</div>
<div class="col-12">
	<div class="col-sm-3 col-md-4 mx-auto subtitulo non-lateral-padding">
		<h2>Delivery de comida online</h2>
	</div>
</div>
<div class="col-12 non-lateral-padding">
    <div class="col-11 mx-auto">
		<div class="row non-lateral-padding">
			<div class="col-12 col-sm-12 col-md-3 non-lateral-padding">
			    <select class="custom-select componentSearch">
		             <option selected>Elije el criterio de búsqueda </option>
		             <option value="1">Nombre</option>
		             <option value="2">Localidad</option>
		             <option value="3">Precio</option>
		        </select>
			</div>
			<div class="col-12 col-sm-12 col-md-6 non-lateral-padding">
			    <input type="text" class="form-control componentSearch" placeholder="Search for..." aria-label="Search for...">
			</div>
			<div class="col-12 col-sm-2 col-md-2 non-lateral-padding">
			    <button type="button" class="btn btn-lg squareButton componentSearch">Buscar</button>
			 </div>
		</div>
	</div>
</div>