<div class="col-12 homeHeader non-lateral-padding">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand titulo">MorfiYa</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <div id="login" >
                        <a class="nav-link titulo" data-dismiss="modal" data-toggle="modal" data-target="#modalLogin" #closeBtn>{{ 'ingresar' | translate }}</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <div id="register">
                        <a  class="nav-link titulo" data-dismiss="modal" data-toggle="modal" data-target="#modalRegister">{{ 'registrar' | translate }}</a>
                   </div>
                </li>
                <li class="nav-item active">
                    <div id="edit" class="hide-link">
                       <a  routerLink="/users/edit" class="nav-link titulo">{{ 'editarDatos' | translate }}</a>
                    </div>
                </li>
                <li class="nav-item active">
                   <div id="balance" class="hide-link">
                       <a  class="nav-link titulo">{{ 'consultarSaldo' | translate }}</a>
                    </div> 
                </li>
                <li class="nav-item active">
                    <div id="orders" class="hide-link">
                      <a class="nav-link titulo hide-link">{{ 'misPedidos' | translate }}</a>
                    </div>               
                </li>
                <li class="nav-item active">
                    <div id="searchMenu" class="hide-link">
                        <a routerLink="/users/search" class="nav-link titulo">{{ 'searchMenu' | translate }}</a>
                    </div>
                </li>
                <li class="nav-item active">
                   <div id="services" class="hide-link">
                     <a routerLink="/users/services" class="nav-link titulo">{{ 'myServices' | translate }}</a>
                   </div> 
                </li>
                <li class="nav-item active">
                   <div id="close" class="hide-link">
                     <a class="nav-link titulo" data-toggle="modal" data-target="#loginOutModal">{{ 'cerrarSesion' | translate }}</a>
                    </div> 
                </li>
                <li class="nav-item active">
                  <div id="back" class="hide-link">  
                    <a class="nav-link titulo" (click)="back()">{{ 'volver' | translate }}</a>
                  </div>
                </li>
                <li class="nav-item active">
                    <a *ngIf="auth.isAuthenticated()" class="nav-link titulo" (click)="auth.logout()">{{ 'cerrarSesion' | translate }}</a>
                </li>
            </ul>
            <div class="lang-bar">
                <a class="button-lang" (click)="changeLang('es')">ES</a>
                <a class="button-lang" (click)="changeLang('en')">EN</a>
                <a class="button-lang" (click)="changeLang('it')">IT</a>
            </div>
        </div>
   </nav>
</div>
<!-- Modal login-->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header homeHeader">
                <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa {{ 'ingresar' | translate }}</h5>
                <button type="button" (click)="resetForm()" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!auth.isAuthenticated()" class="col-12 non-lateral-padding">
                     <button (click)="auth.login()" class="btn button-blue-dark btn-block">{{ 'loginAuth0' | translate }}</button>
                </div>
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <div class="form-group">
                        <alert></alert>
                    </div>
                    <div class="form-group">
                        <label for="name">{{ 'email' | translate }}</label>
                        <input type="text" class="form-control" id="emailaddress" required [(ngModel)]="model.email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                            <div [hidden]="!email.hasError('required')">{{ 'emailDeUsuarioRequerido' | translate }}</div>
                            <div [hidden]="!email.hasError('pattern')">{{ 'formatoEmailIncorrecto' | translate }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Password</label>
                        <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
                        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                            {{'contraseniaRequerido' | translate}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid">{{ 'ingresar' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal login-->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header homeHeader">
                <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body col-12">
                <h3 class="centerTitulo">{{'eligirTipoRegistro' | translate}}</h3>
                <div class="row">
                    <div class="col">
                        <button type="button" (click)="registerClient()" class="btn btn-outline-primary componentSearch">{{ 'client' | translate }}</button>
                    </div>
                    <div class="col">
                        <button type="button" (click)="registerProvider()" class="btn btn-outline-warning componentSearch">{{ 'provider' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>