.homeHeader{
	background-color: crimson;;
	margin-bottom: 10px;
	color: white;
}

.titulo{
	color: white !IMPORTANT;
}

.hide-link{
	display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.centerTitulo{
	text-align: center
}