<div class="col-12">
    <div  class="col-sm-8 col-md-8 mx-auto editInformation">
        <div class="col-12 non-lateral-padding">
            <alert></alert>
        </div>
        <form [formGroup]="form">
                <div class="form-row">
                  <div class="form-group col-12 col-md-6" [ngClass]="displayFieldCss('name')">
                    <label class="col-form-label required">{{ 'nombre' | translate }}</label>
                    <input type="text" class="form-control " formControlName="name" readonly>
                    <app-field-error-display [displayError]="isFieldValid('name')" errorMsg=" {{'nameRequired'|translate}}">
                    </app-field-error-display>
          
                  </div>
                  <div class="form-group col-12 col-md-6">
                      <label class="col-form-label required" [ngClass]="displayFieldCss('surname')">{{ 'apellido' | translate }}</label>
                      <input type="text"  class="form-control" formControlName="surname" readonly>
                      <app-field-error-display [displayError]="isFieldValid('surname')" errorMsg=" {{'surnameRequired'|translate}}">
                      </app-field-error-display>        
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-12 col-md-6" [ngClass]="displayFieldCss('cuit')">
                      <label class="col-form-label required">{{ 'cuit' | translate }}</label>
                      <input type="number"  class="form-control" formControlName="cuit" readonly>
                      <app-field-error-display [displayError]="isFieldValid('cuit')" errorMsg=" {{'cuitRequired'|translate}}">
                      </app-field-error-display>
                  </div>
                  <div class="form-group col-12 col-md-6" [ngClass]="displayFieldCss('email')">
                    <label class="col-form-label required">{{ 'email' | translate }}</label>
                    <input type="text" class="form-control" formControlName="email" readonly>
                    <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
                          {{ 'emailRequired'|translate}}
                    </div>
                    <div *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">
                          {{ 'emailInvalid'|translate}}
                    </div>
                  </div>
                </div>  
                <div class="form-row">
                      <div class="col-12">
                              <label>{{'direccion'| translate }}</label>
                      </div>
                    <div class="form-group col-12 col-md-6">
                      <div class="form row">
                          <div class="col-6 col-md-6">
                              <div class="col-12 non-lateral-padding" [ngClass]="displayFieldCss('street')">
                                  <label class="col-form-label required">{{'calle'| translate }}</label>
                              </div>
                              <div class="col-12 non-lateral-padding">
                                  <input type="text"  class="form-control" formControlName="street">
                                  <app-field-error-display [displayError]="isFieldValid('street')" errorMsg=" {{'streetRequired'|translate}}">
                                  </app-field-error-display> 
                              </div>
                          </div>
                          <div class="col-3 col-md-3 non-lateral-padding" [ngClass]="displayFieldCss('number')">
                              <div class="col-12 non-lateral-padding">
                                  <label class="col-form-label required">{{'numero'| translate }}</label>
                              </div>
                              <div class="col-12 non-lateral-padding">
                                  <input type="number"  class="form-control" formControlName="number">
                                  <app-field-error-display [displayError]="isFieldValid('number')" errorMsg=" {{'numberRequired'|translate}}">
                                  </app-field-error-display>
                              </div>
                          </div>
                          <div  class="col-3 col-md-3" [ngClass]="displayFieldCss('floor')">
                              <div class="col-12 non-lateral-padding"> 
                                  <label class="col-form-label required">{{'piso'| translate }}</label>
                              </div>
                              <div class="col-12 non-lateral-padding">
                                  <input type="number" class="form-control" formControlName="floor">
                                  <app-field-error-display [displayError]="isFieldValid('floor')" errorMsg=" {{'floorRequired'|translate}}">
                                  </app-field-error-display>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-6" [ngClass]="displayFieldCss('locality')">
                        <div class="col-12 non-lateral-padding">
                            <label class="col-form-label required">{{'localidad'| translate }}</label>
                        </div>
                        <div class="form row">
                            <div class="col-12 col-md-12">
                                        <select class="form-control" formControlName="locality">
                                              <option *ngFor="let locality of localities" [value]="locality">{{locality}}</option>
                                          </select>      
                                          <app-field-error-display [displayError]="isFieldValid('locality')" errorMsg=" {{'localityRequired'|translate}}">
                                          </app-field-error-display>
                            </div>
                          </div>
                      </div>
                  </div>  
                  <div class="form-row">
                      <div class="form-group col-12 col-md-6">
                        <div class="col-12 non-lateral-padding">
                            <label >{{'telefono'| translate }}</label>
                        </div>
                        <div class="form row">
                            <div class="col-4 col-md-4" [ngClass]="displayFieldCss('countryCode')">
                                <div class="col-12 non-lateral-padding">
                                      <label class="col-form-label required">{{'countryCode'| translate }}</label>
                                </div>
                                <div class="col-12 non-lateral-padding">
                                      <input type="number"  class="form-control" formControlName="countryCode">
                                      <app-field-error-display [displayError]="isFieldValid('countryCode')" errorMsg=" {{'countryCodeRequired'|translate}}">
                                      </app-field-error-display>
                                </div>
                            </div>
                            <div  class="campo-form col-3 col-md-3">
                                <div class="col-12 non-lateral-padding" [ngClass]="displayFieldCss('areaCode')">
                                     <label class="col-form-label required">{{'areaCode'| translate }}</label>
                                </div>
                                <div class="col-12 non-lateral-padding">
                                      <input type="number"  class="form-control" formControlName="areaCode"> 
                                      <app-field-error-display [displayError]="isFieldValid('areaCode')" errorMsg=" {{'areaCodeRequired'|translate}}">
                                      </app-field-error-display>
                               </div>
                            </div>
                            <div class="col-5 col-md-5" [ngClass]="displayFieldCss('localNumber')">
                                  <div class="col-12 non-lateral-padding">
                                      <label class="col-form-label required">{{'localNumber'| translate }}</label>
                                  </div>
                                  <div class="col-12 non-lateral-padding">
                                      <input type="number"  class="form-control" formControlName="localNumber">
                                      <app-field-error-display [displayError]="isFieldValid('localNumber')" errorMsg=" {{'localNumberRequired'|translate}}">
                                      </app-field-error-display>
                                  </div>
                            </div>
                          </div>
                      </div>
                      <div  class="form-group col-12 col-md-6">
                          <div class="col-12 non-lateral-padding">
                              <label >{{'posicion-en-el-mapa'| translate }}</label>
                          </div>
                          <div class="form row">
                              <div class="col-6 col-md-6" [ngClass]="displayFieldCss('length')">
                                  <label class="col-form-label required">{{'length'| translate }}</label>
                                  <input type="number" class="form-control" formControlName="length">
                                  <app-field-error-display [displayError]="isFieldValid('length')" errorMsg=" {{'lenghtRequired'|translate}}">
                                  </app-field-error-display>
                              </div>
                              <div  class="col-6 col-md-6" [ngClass]="displayFieldCss('latitude')">
                                  <label class="col-form-label required" >{{'latitude'| translate }}</label>
                                  <input type="number" class="form-control" formControlName="latitude">
                                  <app-field-error-display [displayError]="isFieldValid('latitude')" errorMsg=" {{'latitudeRequired'|translate}}">
                                  </app-field-error-display>
                              </div>
                          </div>
                        </div>
                    </div>    
                <div  class="form-row">
                  <div class="form-group col-12 col-md-6" [ngClass]="displayFieldCss('password')">
                    <label class="col-form-label required">{{'contrasenia'| translate }}</label>
                    <input type="password" class="form-control" name="password" formControlName="password">
                    <app-field-error-display [displayError]="isFieldValid('password')" errorMsg=" {{'passwordRequired'|translate}}">
                    </app-field-error-display>
                  </div>
                  <div class="form-group col-12 col-md-6" [ngClass]="displayFieldCss('repassword')">
                    <label class="col-form-label required">{{'re-password'| translate }}</label>
                    <input type="password" class="form-control" name="re-password" formControlName="repassword">
                    <app-field-error-display [displayError]="form.controls['repassword'].hasError('required') && form.controls['repassword'].touched" errorMsg=" {{'repasswordRequired'|translate}}">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="form.controls['repassword'].hasError('notEquivalent') && form.controls['repassword'].touched" errorMsg=" {{'repasswordEqual'|translate}}">
                    </app-field-error-display>
                  </div>
                </div>  
                  <button class="btn btn-success update-button" type="submit" (click)="updateUser()">{{'actualizar'| translate }}</button>
                </form>
  </div>
</div>
<!-- Modal update-->
<div class="modal" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-sm">
                <div class="modal-header homeHeader">
                    <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h4 class="information">{{mensaje}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{{'aceptar'| translate }}</button>
                </div>
            </div>
        </div>
    </div>