.editInformation{
	background-color: white;
}

.squareButton{
  width:100% !IMPORTANT;
  margin-bottom: 10px;
  border-radius: 0px !IMPORTANT; 
}

.diver{
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}