#serviceName {
    font-size: 24px;
    font-weight: bolder;
  }
  
  #categoria,
  #delivery {
    font-size: 12px;
  }

.border-gray{
    border: 1px solid transparent;
    border-color: #E5E5E5;
}

.image-menu {
    max-width: 100%;
    border: solid;
 }

 .container-fluid{
    background-color: #FFFFFF;
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
 }

 .backgroundOrder{
  background-color: white;
  padding: 15px;
}


.title{
  text-align: center;
}

.buttonCreate{
  border-radius: 0;
  background-color: red;
  color:white;
  text-align: center;
  width: 100%;
}

menu{
  padding: 15px;
}

.price{
  font-size: 20px;
  padding-bottom: 5px;
}