.homeHeader{
	background-color: crimson;
	margin-bottom: 10px;
}

.titulo{
	color: white !IMPORTANT;
}

.information{
	text-align: center;
}

.closeApp{
	padding-bottom: 15px;
}

.cancel-button{
	color: #FFF;
	background-color: #f52f41 !IMPORTANT;
}

.boton-aceptar {
	color: #FFF;
	background-color: #1c8e20;
}