<header></header>
<router-outlet></router-outlet>
<!-- Modal -->
<div class="modal fade" id="loginOutModal" tabindex="-1" role="dialog" aria-labelledby="singOutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header homeHeader">
          <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
          <h4 class="information">{{ 'deseaSalir' | translate }}</h4>
      </div>
      <div class="col-12" >
        <div class="row closeApp">
            <div class="col">
                <button type="button" class="btn componentSearch cancel-button" data-dismiss="modal">{{ 'cancelar' | translate }}</button>
            </div>
            <div class="col">
                 <button type="button" (click)="backToHome()" class="btn   componentSearch boton-aceptar" >{{ 'aceptar' | translate }}</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
