<div class="col-12">
    <div class="col-sm-4 col-md-4 mx-auto non-lateral-padding checkBalance">
      <div class="col-12">
         <h3 class="titleBalance">{{ 'saldoActual' | translate }}</h3>
      	 <h4 class="titleBalance"> 
            {{balance | currency:currency:'symbol-narrow' }}
        </h4>
      </div>
      <div class="col-6 mx-auto">
          <button type="button" class="btn btn-success squareButton" data-toggle="modal" data-target="#balanceModal">{{ 'agregarSaldo' | translate }}</button>
      </div>
    </div>
</div>

<!-- Modal Saldo-->
<div class="modal fade" id="balanceModal" tabindex="-1" role="dialog" aria-labelledby="balanceModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="col-12"> 
              <alert></alert>
           </div>
            <div class="col-12">
                <h5 class="modal-title" id="balanceModalLabel">{{ 'newTransaction' | translate }}</h5>
            </div>
      	<div class=" col-12 form-group row">
  			<div class="col-12">
            <input class="form-control" type="number" min="0" step="1" placeholder="0" [(ngModel)]="value">
  			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button"  (click)="clearValue()" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModal>{{ 'cancelar' | translate }}</button>
        <button type="button" (click)="addBalance()" class="btn btn-primary">{{ 'confirmar' | translate }}</button>
      </div>
    </div>
  </div>
</div>