.checkBalance{
	background-color: white;
}

.titleBalance{
	text-align: center;
}

.squareButton{
  width:100% !IMPORTANT;
  margin-bottom: 10px;
  border-radius: 0px !IMPORTANT;
  background-color: #f52f41;
  border: #f52f41;
}