<header></header>
<div class="col-12">
    <div  class="col-sm-8 col-md-8 mx-auto editInformation register containerRegister">
        <div class="col-12 non-lateral-padding">
               <div id="newProvider" class="titleRegister"><h3>{{ 'newProvider' | translate }}</h3></div> 
               <div id="newClient" class="titleRegister"><h3>{{ 'newClient' | translate }}</h3></div>
        </div>
        <div class="col-12 non-lateral-padding">
            <alert></alert>
        </div>
        <form [formGroup]="form.getForm()" (ngSubmit)="newUser()">
          <div class="form-row">
            <div class="form-group col-12 col-md-6">
              <label>{{ 'nombre' | translate }}</label>
              <input type="text" class="form-control" formControlName="name">
              <div *ngIf="form.hasError('name')" class="alert-information alert alert-danger">
                {{form.getError('name')|translate}}
             </div>
              
            </div>
            <div class="form-group col-12 col-md-6">
                <label>{{ 'apellido' | translate }}</label>
                <input type="text" class="form-control" formControlName="surname">
                <div *ngIf="form.hasError('surname')" class="alert-information alert alert-danger">
                    {{form.getError('surname')|translate}}
            </div>
            </div>
          </div> 
          <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <label>{{ 'cuit' | translate }}</label>
                <input type="number" class="form-control" formControlName="cuit">
                <div *ngIf="form.hasError('cuit')" class="alert-information alert alert-danger">
                    {{form.getError('cuit')|translate}}
            </div>
            </div>
            <div class="form-group col-12 col-md-6">
              <label>{{ 'email' | translate }}</label>
              <input type="text" class="form-control" formControlName="email">
              <div *ngIf="form.hasError('email')" class="alert-information alert alert-danger">
                {{form.getError('email')|translate}}
             </div>
            </div>
          </div>  
          <div class="form-row">
              <div class="form-group col-12 col-md-6">
                <div class="col-12 non-lateral-padding">
                    <label>{{'direccion'| translate }}</label>
                </div>
                <div class="form row">
                    <div class="col-6 col-md-6">
                        <input type="text" class="form-control" formControlName="street">
                        <div *ngIf="form.hasError('street')" class="alert-information alert alert-danger">
                                {{form.getError('street')|translate}}
                        </div>
                    </div>
                    <div class="col-3 col-md-3 non-lateral-padding">
                        <input type="number" class="form-control" formControlName="number">
                        <div *ngIf="form.hasError('number')" class="alert-information alert alert-danger">
                                {{form.getError('number')|translate}}
                        </div>
                    </div>
                    <div  class="col-3 col-md-3">
                        <input type="number" class="form-control" formControlName="floor">
                        <div *ngIf="form.hasError('floor')" class="alert-information alert alert-danger">
                                {{form.getError('floor')|translate}}
                        </div>
                    </div>
                  </div>
              </div>
              <div class="form-group col-12 col-md-6">
                  <div class="col-12 non-lateral-padding">
                      <label>{{'localidad'| translate }}</label>
                  </div>
                  <div class="form row">
                      <div class="col-12 col-md-12">
                        <select class="custom-select col-12 col-md-12" formControlName="locality">
                            <option *ngFor="let l of localities" [ngValue]="l">{{l}}</option>
                          </select>
                          <div *ngIf="form.hasError('locality')" class="alert-information alert alert-danger">
                            {{form.getError('locality')|translate}}
                          </div>
                      </div>
                    </div>
                </div>
            </div>  
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                  <div class="col-12 non-lateral-padding">
                      <label>{{'telefono'| translate }}</label>
                  </div>
                  <div class="form row">
                      <div class="col-3 col-md-3">
                          <input type="number" class="form-control" formControlName="countryCode">
                          <div *ngIf="form.hasError('countryCode')" class="alert-information alert alert-danger">
                                {{form.getError('countryCode')|translate}}
                          </div>
                      </div>
                      <div  class="campo-form col-3 col-md-3">
                          <input type="number" class="form-control" formControlName="areaCode">
                          <div *ngIf="form.hasError('areaCode')" class="alert-information alert alert-danger">
                                {{form.getError('areaCode')|translate}}
                          </div>
                      </div>
                      <div class="col-6 col-md-6">
                          <input type="number" class="form-control" formControlName="localNumber">
                           <div *ngIf="form.hasError('localNumber')" class="alert-information alert alert-danger">
                                {{form.getError('localNumber')|translate}}
                      </div>
                      </div>
                    </div>
                </div>
                <div class="form-group col-12 col-md-6">
                    <div class="col-12 non-lateral-padding">
                        <label>{{'posicion-en-el-mapa'| translate }}</label>
                    </div>
                    <div class="form row">
                        <div class="col-6 col-md-6">
                            <input type="number" class="form-control" formControlName="length">
                            <div *ngIf="form.hasError('length')" class="alert-information alert alert-danger">
                                    {{form.getError('length')|translate}}
                            </div>
                        </div>
                        <div  class="col-6 col-md-6">
                            <input type="number" class="form-control" formControlName="latitude">
                            <div *ngIf="form.hasError('latitude')" class="alert-information alert alert-danger">
                                    {{form.getError('latitude')|translate}}
                            </div>
                        </div>
                    </div>
                  </div>
              </div>    
          <div class="form-row">
            <div class="form-group col-12 col-md-6">
              <label>{{'contrasenia'| translate }}</label>
              <input type="password" class="form-control" formControlName="password">
              <div *ngIf="form.hasError('password')" class="alert-information alert alert-danger">
                    {{form.getError('password')|translate}}
              </div>
            </div>
            <div class="form-group col-12 col-md-6">
              <label>{{'re-password'| translate }}</label>
              <input type="repassword" class="form-control" formControlName="repassword">
              <div *ngIf="form.hasError('repassword')" class="alert-information alert alert-danger">
                    {{form.getError('repassword')|translate}}
              </div>
            </div>
          </div>  
            <button type="submit" class="btn btn-success">{{'registrar'| translate }}</button>
          </form>
  </div>
</div>
<!-- Modal update-->
<div class="modal" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-sm">
                <div class="modal-header homeHeader">
                    <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h4 class="information">{{mensaje}}</h4>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">{{'aceptar'| translate }}</button>
                </div>
            </div>
        </div>
    </div>