.page-link{
   color:red;
}

.container-fluid{
   background-color: #FFFFFF;
   width: 75%;
   padding: 1%;
   margin-bottom: 1%;
}

.image-menu {
   max-width: 100%;
   border: solid;
}

#pagination{
   margin-top: 2%;
   width: 87%;
}

.button-menu{
   width: 60% !IMPORTANT;
}



ul {
   list-style: none;
}

.details-service {
   color: #FFF;
   font-size: 0.9rem;
}
