<div class="col-12">
    <div class="col-12 col-sm-12 col-lg-8 mx-auto backgroundServices">
                <div id="myServices" class="col-12 col-sm-12 col-lg-12">
                    <div class="col-12 title">
                        <div class="col-12 col-sm-12 col-lg-6 mx-auto non-lateral-padding">
                            <button type="button" (click)="addNewService()" class="btn refUpdate buttonCreate">{{ 'newService' | translate }}</button>
                </div> 
                    </div>
                    <div *ngFor="let service of services">
                        <div class="col-12 list-group-item-action service border-gray non-lateral-padding">
                            <div class="col-12 titleLogo">
                                {{service.serviceLogo}}
                            </div>
                            <div class="col-12 row">
                                <div class="col-10 row">
                                       <div class="col-12">
                                                {{'nombre'|translate}}:
                                                {{service.serviceName}}
                                        </div>
                                        <div class="col-12">
                                                {{'email'|translate}}:
                                                {{service.serviceEmail}}
                                        </div>

                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="col-12 col-md-8 center-inner-content ">
                                        <button (click)="update(service)" class="btn buttonUpdate text-white ">{{'update'|translate}}</button>
                                    </div>
                                    <div class="col-12 col-md-8 center-inner-content ">
                                        <button (click)="showMenus(service.id)" class="btn buttonUpdate text-white ">{{'showMenus'|translate}}</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>  
        </div>
</div>

    <!-- Modal update-->
    <div class="modal" id="modalResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header homeHeader">
                        <h5 class="modal-title titulo" id="exampleModalLongTitle">MorfiYa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="information">{{'notMenusForService'|translate}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">{{'aceptar'| translate }}</button>
                    </div>
                </div>
            </div>
    </div>